@import 'base';
@import 'footer';
@import 'typography';
@import 'header';

//variables 




$color-grey-dark: rgb(54, 53, 53); 
$color-grey-light-1: #f7f7f7;
$color-grey-meidum: #d7d7d9;
$color-white: #fff;
$color-black: #000;
